.be-my-chronicle-page {
	max-width: 100%;
}

.be-my-chronicle-page .be-my-chronicle-page__new-character {
	margin: 0.75em 0;
}

.be-my-chronicle-page__report-character {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	max-width: 320px;
	margin: 1rem 0 0;
}

